@import "antd/dist/reset.css";

:root {
  --primary-color: #00284e;
  --secondary-color: #f0f0f0;
  --text-color: #1f1f1f;
  --background-color: #ffffff;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: 0.3s ease;
  // &.light {
  //   background-color: #ffffff;
  //   color: #000000;
  // }
  &.dark {
    --primary-color: #1e90ff;
    --background-color: #141414;
    --text-color: #ffffff;
  }
}

@keyframes runningLine {
  from {
    width: 0;
    left: 0;
  }
  to {
    width: 100%;
    left: 0;
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
  &:hover::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    margin-top: 2px;
    animation: runningLine 0.3s ease;
  }
}

h1 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition:
    transform 0.5s ease,
    box-shadow 0.3s ease;
  background: inherit;
  padding: 0 1rem;
  margin: 1rem 0;
  &--hidden {
    transform: translateY(-100%);
  }
  &:not(.header--hidden) {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  &-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 1rem;
  }
}

.search-form {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

main {
  flex: 1;
}

.hotel-list {
  margin-bottom: 1rem;
}

.error-search-form {
  display: inline-block;
  width: 18rem;
  color: rgb(255, 69, 69);
  font-size: 0.875rem;
  padding: 0.25rem;
}

.login {
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 18rem;
    margin: 0 auto;
  }
  &-field {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
}
