@import "antd/dist/reset.css";

body {
  font-family: "Arial", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  // padding-top: 80px;
}

.header {
  position: sticky;
  max-width: 1000px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: transform 0.5s ease;
  background: #ffffff;
  &--hidden {
    transform: translateY(-100%);
  }
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 24px;
  }
  &-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 18px;
  }
}

.search-form {
  display: flex;
  gap: 4px;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

main {
  flex: 1;
}

.hotel-list {
  margin-bottom: 24px;
}

.error-search-form {
  display: inline-block;
  width: 300px;
  color: rgb(255, 69, 69);
  font-size: 1rem;
  padding: 0.5rem;
  translate: -0.5rem 0;
}
