@import "antd/dist/reset.css";

body {
  font-family: "Arial", sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.5s ease;
  background: #ffffff;
  &--hidden {
    transform: translateY(-100%);
  }
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
  }
  &-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 1rem;
  }
}

.search-form {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

main {
  flex: 1;
}

.hotel-list {
  margin-bottom: 1rem;
}

.error-search-form {
  display: inline-block;
  width: 18rem;
  color: rgb(255, 69, 69);
  font-size: 0.875rem;
  padding: 0.25rem;
}
