@import "antd/dist/reset.css";

body {
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 24px;
  }
  &-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 18px;
  }
}

.search-form {
  display: flex;
  gap: 18px;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}
