@use "../../styles/breakpoints" as bp;

.controls {
  margin: 0 0.5rem 1rem;
}

.controlWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.searchInput {
  width: 250px;
}

.loading {
  display: block;
  margin: 3rem auto;
}

.emptyState {
  width: 100%;
  margin-top: 2.5rem;
}

.showAllButton {
  align-self: center;
}

.sortSelect {
  width: 160px;
}

.pagination {
  margin-top: 1rem;
}

@media (max-width: bp.$bp-sm) {
  .searchInput {
    width: 100%;
  }

  .controlWrapper {
    justify-content: center;
  }
}