.controls {
  margin: 0 0.5rem 1rem;
}

.searchInput {
  width: 250px;
}

.loading {
  display: block;
  margin: 50px auto;
}

.emptyState {
  width: 100%;
  margin-top: 40px;
}

.showAllButton {
  align-self: center;
}

.sortSelect {
  width: 160px;
}

.pagination {
  margin-top: 18px;
}
